#fonctionnement{
        
    h2{
        margin: 30px 20px 20px 20px;
    }

    .fonctionnnement_container{
        padding: 0 0 30px 0;
    }

    a{
        padding: 10px 0;
        margin: 15px 15px;
    }
   
}

@media (min-width: 768px) {

   .fonctionnnement_container{
    display: flex;    
    flex-direction: row;
    flex-grow: 1;
    }
    

}