header{
    h1{
        width: 35%;
        min-width: 200px;
        max-width: 300px;
    }
}


.titre_menu{
    
    h2{
        font-family: 'Shrikhand', cursive;
        font-size: 2em; 
        width: 80%;
        
    }


    .card__contenu__logo i{
        font-size: 2em;
    }

} 

.menu_container h2{
    font-weight: lighter;
}

footer

h2{
    font-family: 'Shrikhand', cursive;
}

p, h3{
    font-family: 'Roboto', sans-serif;
}