.card__contenu__logo{
    position: relative;
}

.card__contenu__logo i{
    font-size: 1.4em;
}

.empty{
    position: relative;
    top: 0px;
    left: 0px;
}

.full{
    position: absolute;
    top: 0px;
    left: 0px;
    color: $couleur-primaire;
    opacity: 0;
}

.card__contenu__logo:active .empty{
    opacity: 0;
}

.card__contenu__logo:active .full{
    transform: scale(1.4);
    opacity: 1;
    transition: all 1.5s ease;
}