.logo-numero{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9356DC;
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    position: absolute;
    left: -10px;
}